<div class="row">
<div class="map"></div>
</div>
<div class="row">
	<div class="col-xs-4"><h3><span>stdev_Medicare <br>_allowed_amt</span></h3><p>Standard deviation of the Medicare allowed amounts. The standard deviation indicates the amount of variation from the average Medicare allowed amount that exists within a single provider, HCPCS service, and place of service.</p></div>
  <div class="col-xs-4"><h3><span>stdev_submitted <br>_chrg_amt</span></h3><p>Standard deviation of the charge amounts submitted by the provider. The standard deviation indicates the amount of variation from the average submitted charge amount that exists within a single provider, HCPCS service, and place of service.</p></div>
  <div class="col-xs-4"><h3><span>stdev_Medicare <br>_payment_amt</span></h3><p>Standard deviation of the Medicare payment amount. The standard deviation indicates the amount of variation from the average Medicare payment amount that exists within a single provider, HCPCS service, and place of service.</p></div>
</div>